@using blazor_tailwind_airbnb.Shared.Modals.Login
@using blazor_tailwind_airbnb.Shared.Modals.Register
@using blazor_tailwind_airbnb.Shared.Modals.Rent
@inherits LayoutComponentBase

<PageTitle>blazor-tailwind-airbnb</PageTitle>

<div class="page">
    <main>
        <LoginModal />
        <RegisterModal />
        <RentModal />
        <Navbar />
        @Body
    </main>
</div>
