@using blazor_tailwind_airbnb.Shared.Inputs
@inherits StepTemplate<ImageModel>


<EditForm id="@StepId" Model="DataModel" OnValidSubmit="@(async () => await OnValidSubmit?.Invoke(@DataModel))" >
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="flex flex-col gap-8">
        <Heading Title="Add a photo of your place" SubTitle="Show guests what your place look like!" />
        <ImageUpload @bind-Value="@DataModel.Base64Content" ValidationFor="() => DataModel.Base64Content" />
    </div>

</EditForm>