<EditForm id="@StepId" Model="DataModel" OnValidSubmit="@(() => OnValidSubmit?.Invoke(@DataModel))" >
    <DataAnnotationsValidator />
    <ValidationSummary />
    <Heading Title="Where is your place located?"
            SubTitle="Help guests find you!" />
    <div class="flex flex-col gap-8">
        <LocationSelector @bind-Value="@DataModel.Location" />
    </div>
</EditForm>

@code {
    [Parameter]
    public Action<LocationModel>? OnValidSubmit { get;set; }

    [EditorRequired]
    [Parameter]
    public string StepId { get;set; } = null!;

    [Parameter]
    public LocationModel DataModel { get;set; } = new();
}