<EditForm id="@StepId" Model="DataModel" OnValidSubmit="@(() => OnValidSubmit?.Invoke(@DataModel))">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-8">
            <Heading Title="Which of these best describes your place?"
                    SubTitle="Pick a category" />

            <CategorySelector @bind-Value="@DataModel.Category" />
        </div>
    </div>
</EditForm>

@code {

    [Parameter]
    public Action<CategoryModel>? OnValidSubmit { get;set; }

    [EditorRequired]
    [Parameter]
    public string StepId { get;set; } = null!;

    [Parameter]
    public CategoryModel DataModel { get;set; } = new();
}

