@inherits StepTemplate<CategoryModel>

<EditForm id="@StepId" Model="DataModel" OnValidSubmit="@(async () => await OnValidSubmit?.Invoke(@DataModel))">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-8">
            <Heading Title="Which of these best describes your place?"
                    SubTitle="Pick a category" />

            <CategorySelector @bind-Value="@DataModel.Category" />
        </div>
    </div>
</EditForm>
